@model Frontend.Models.ReservacionViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="col-lg-12">
    <div class="breadcrumb-text">
        <h2>Detalles de la reservación</h2>
        <div class="bt-option">
            <a asp-action="Index">Inicio</a>
            <span>@ViewData["Title"]</span>
        </div>
    </div>
</div>

<div class="col-lg-12 mt-4 d-flex justify-content-center">
    <div class="row room-details-item ">
        <div class="col-lg-6 rd-text">
            <div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RsvId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RsvId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RsvUsrId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RsvUsrId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RsvHabId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RsvHabId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RsvFechaEntrada)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RsvFechaEntrada)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RsvFechaSalida)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RsvFechaSalida)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RsvPrecioFinal)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RsvPrecioFinal)
                    </dd>
                </dl>
            </div>
            <div>
                @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>


