@model Frontend.Models.ReservacionViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReservacionViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RsvId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RsvId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RsvUsrId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RsvUsrId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RsvHabId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RsvHabId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RsvFechaEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RsvFechaEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RsvFechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RsvFechaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RsvPrecioFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RsvPrecioFinal)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
