@model Frontend.Models.ReservacionViewModel

@{
    ViewData["Title"] = "Habitacion";
}

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Habitacion @ViewData["NumeroHab"]</h2>
                    <div class="bt-option">
                        <a asp-action="Index" asp-controller="Home">Inicio</a>
                        <span>@ViewData["Title"]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Room Details Section Begin -->
<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="room-details-item">
                    <img src="img/room/room-details.jpg" alt="">
                    <div class="rd-text">
                        <div class="rd-title">
                            <h3>
                                Premium King Room
                            </h3>
                        </div>
                        <h2>@ViewData["PrecioHab"]$ <span>/Pornoche</span></h2>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Camas:</td>
                                    <td>@ViewData["camasoHab"]</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Baños:</td>
                                    <td>@ViewData["BañosHab"]</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Servicios:</td>
                                    <td>Wifi, Television, Bathroom,...</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="f-para">
                            Motorhome or Trailer that is the question for you. Here are some of the
                            advantages and disadvantages of both, so you will be confident when purchasing an RV.
                            When comparing Rvs, a motorhome or a travel trailer, should you buy a motorhome or fifth
                            wheeler? The advantages and disadvantages of both are studied so that you can make your
                            choice wisely when purchasing an RV. Possessing a motorhome or fifth wheel is an
                            achievement of a lifetime. It can be similar to sojourning with your residence as you
                            search the various sites of our great land, America.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="room-booking">
                    @{
                        var idHab = ViewData["IDHab"];
                        var precioHab = ViewData["PrecioHab"];
                    }
                    <input hidden type="number" id="precio" value="@precioHab" />
                    <h3>Reserva</h3>
                    <form asp-action="Create">
                        <input hidden type="number" value="@idHab" asp-for="RsvHabId" />
                       
                        <div class="select-option">
                            <label for="CantCamas">Cantidad de camas</label>
                            <input for="CantCamas" class="form-control" id="cantCamas" readonly/>
                        </div>
                        <div class="check-date">
                            <label asp-for ="RsvFechaEntrada"></label>
                            <input type="text" class="date-input" id="date-in" asp-for="RsvFechaEntrada" readonly>
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label asp-for="RsvFechaSalida"></label>
                            <input type="text" class="date-input" id="date-out" asp-for="RsvFechaSalida" readonly>
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="select-option">
                            <label for="Precio Final">Precio final</label>
                            <input asp-for="RsvPrecioFinal" class="form-control" id="precioFinal" readonly/>
                        </div>

                        <button type="submit" id="ReservarHabitacion">Confirmar reservacion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Room Details Section End -->
<script src="~/js/Reservacion.js"></script>
