@model IEnumerable<Frontend.Models.ReservacionUsuarioViewModel>

@{
    ViewData["Title"] = "UsuarioReservacion";
}

<h1>Mis Reservaciones</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RsvId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RsvPuertaHab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RsvFechaEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RsvFechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RsvPrecioFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RsvId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RsvPuertaHab)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RsvFechaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RsvFechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RsvPrecioFinal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
