@model IEnumerable<Frontend.Models.ReservacionViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <div class="breadcrumb-text">
        <h2>Mis reservaciones</h2>
    </div>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="col-lg-12">
    <table id="reservaciones" class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RsvId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RsvUsrId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RsvHabId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RsvFechaEntrada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RsvFechaSalida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RsvPrecioFinal)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RsvId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RsvUsrId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RsvHabId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RsvFechaEntrada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RsvFechaSalida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RsvPrecioFinal)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {  id=item.RsvId  }) |
                        @Html.ActionLink("Details", "Details", new { id=item.RsvId }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.RsvId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#reservaciones").DataTable();
    })
</script>